body {
  background: #000 url("../resources/images/layout/background.png") no-repeat
    top center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: arial;
  color: #111;
}

.container {
  margin: 0px auto;

  padding: 0;
}
/* Header & Navigation*/

header {
  padding-top: 20px;
  height: 190px;
}
.logoDiv {
  float: left;
  width: 255px;
}
.logo {
  display: block;
  background: url("../resources/images/layout/logo.png") no-repeat;
  width: 250px;
  height: 140px;
  margin-left: -35px;
}
.top_navigation {
  float: right;
  width: 460px;
  height: 160px;
}
.top_navigation div {
  clear: left;
  text-align: right;
  height: 33px;
  width: 100%;
}
.top_navigation .srchPanel {
  height: 160px;
}
#headnav1 {
}
ul.topnav1 {
  text-align: right;
  margin-left: 50px;
  width: 100%;
}
ul.topnav1 li {
  border-right: 1px solid #111;
  float: left;
  color: gray;
}
ul.topnav1 li a {
  text-decoration: none;
  color: gray;
  font-size: 12px;
  margin: 2px 6px;
}
ul.topnav1 li button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 12px;
  color: gray;
}
ul.topnav1 li a:hover {
  color: red;
}
ul.topnav2 {
  width: 100%;
}
ul.topnav2 li {
  border-right: 1px solid #111;
  float: left;
  margin: 10px 0;
}
ul.topnav2 li a {
  text-decoration: none;
  color: gray;
  font-size: 12px;
  margin: 0px 7px;
}
ul.topnav2 li a:hover {
  color: white;
}
.topnavSel {
  color: white;
}
.fontRed {
  color: red;
}
#currencyForm {
  font-size: 12px;
  color: #ccc;
}
.cboCurrencies {
  background: #222;
  width: 90px;
  font-size: 11px;
  color: gray;
  border: none;
  height: 20px;
  font-size: 12px;
}
.btnCur {
  color: white;
  padding: 8px 0;
  font-size: 9px;
  margin-top: -3px;
  margin-left: 2px;
  background: url("../resources/images/layout/curBtn.png") no-repeat;
  border: none;
  float: right;
  width: 22px;
}
.shopcart {
  background: url("../resources/images/layout/cart.png") no-repeat right top;
  padding-top: 8px;
  height: 20px;
  width: 190px;

  float: right;
  padding-left: 10px;
}
.shopcart a {
  color: red;
  text-decoration: none;
}
#cart-font {
  color: gray;
}
.mobileCart {
  display: none;
}
.shopcart a:hover {
  color: white;
  text-decoration: none;
}
.btnShowCart {
  background: url("../resources/images/layout/cartbtn.png") no-repeat;
  color: #fff;
  padding: 5px 3px;
  border: none;
  display: none;
}
#srchForm {
  background: url("../resources/images/layout/srchform.png") no-repeat right top;
  width: 450px;
  height: 65px;
  padding: 15px 0px;
  float: right;
  margin-bottom: 2px;
}
.srchFont {
  color: white;
  font-family: "Gill Sans Ultra Bold Condensed";
  font-weight: bold;
  font-size: 24px;
}
#srchForm #srchText {
  color: red;
  background: url("../resources/images/layout/srchText.png") no-repeat;
  width: 235px;
  height: 45px;
  text-indent: 10px;
  border: none;
  margin-left: 4px;
  margin-top: 2px;
}
#srchForm #srchBtn {
  background: url("../resources/images/layout/srchbtn.png") no-repeat;
  width: 35px;
  height: 45px;
  border: none;
  border-right: 2px solid #111;
  margin-right: 15px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav {
  clear: left;
  background: url("../resources/images/layout/nav.png") no-repeat;
  display: block;
  height: 50px;
  overflow: hidden;
}
nav ul li {
  border-right: 1px solid #000;
  float: left;
  margin-top: 15px;
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #ccc;
  font-size: 14px;
  padding: 20px;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  background: url("../resources/images/layout/nav_hov.png") repeat-x;
}
.navSel {
  color: white;
  text-decoration: none;
  background: url("../resources/images/layout/nav_hov.png") repeat-x;
}
/* .menu_mobile {
  display: none;
}
.mobilenav_head {
  display: none;
} */
.mobilenav {
  display: none;
}
/* Content */
.page_content {
  clear: left;
  min-height: 300px;
  background: #fff url("../resources/images/layout/page-bkd.png") repeat-x;
}
p {
  font-size: 12px;
}
.font-red {
  color: red;
}
.page_header {
  padding: 15px 16px 0 0px;
  margin: 0 auto;

  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  width: 97%;
  margin-bottom: 15px;

  border-bottom: 3px solid gray;
}
/*Home page*/

.banner {
  /* background: url("../resources/images/banner/banner5.png") no-repeat;
  background-size: cover !important; */
  height: 430px;
  clear: left;
}
.highlight_wrapper {
  padding-top: 15px;
}
.pricing_wrapper {
  height: 150px;
  padding-top: 20px;
}
.pricing_wrapper .left {
  width: 70%;
  height: 100px;
  background: gray;
}
.pricing_wrapper .right {
  width: 30%;
  height: 100px;
}
#front_ads {
  height: 100px;
}

#frontProducts {
  height: 330px;
}
.page_content h1,
.page_content h2,
.page_content h3,
.page_content h4,
.page_content p {
  color: #111;
}
.ad1 {
  background: url("../resources/images/layout/frontAd1.png") no-repeat;
  background-size: cover !important;
  height: 100px;
  width: 100%;
}
.ad2 {
  background: url("../resources/images/layout/frontAd2.png") no-repeat;
  background-size: cover !important;
  height: 100px;
  width: 100%;
}

.filter-box {
  background: #111;
  padding: 15px 30px;
  color: #ccc;
  margin-bottom: 20px;
}

.filter-box select,
input {
  width: 200px;
  margin: 0 20px;
}
.ctgry-specials {
  padding: 15px;
  min-height: 200px;
}
.product-wrapper {
  padding-top: 30px;
  margin-left: 25px;
}
.proj-item-feat {
  width: 21%;
  height: 400px;
  float: left;
  background: transparent;
  margin: 0 15px;
}
.proj-item-feat .prod-image,
.proj-item .prod-image {
  width: 100%;
  height: 200px;
  background-size: contain !important;
  background-position: center center !important;
  margin-bottom: 15px;
}
.prod-detail {
  width: 80%;
}
.prod-detail .prod-image,
.proj-item-list .prod-image {
  float: left;
  width: 200px;
  height: 200px;
  background-size: contain !important;
  background-position: center center !important;
  margin-bottom: 15px;
}

.proj-item-list {
  width: 100%;
  height: 240px;
  clear: left;
  margin-top: -1px;
  background: transparent;
  border: 1px solid #ccc;
  padding: 15px;
}

.proj-item {
  width: 31%;
  height: 440px;
  float: left;
  margin-left: -1px;
  margin-top: -1px;
  background: transparent;
  border: 1px solid #ccc;
  padding: 15px;
}

.product-name {
  color: #111;
  font-weight: bold;
}
.product-name:hover {
  text-decoration: none;
}
.prod-info-sm {
  height: 100px;
}
.prod-info-lg {
  height: 200px;
}
.prod-info-sm a:hover {
  text-decoration: none;
  color: red;
}
.btnAddCart {
  font-size: 14px;
}
.item-cmds {
  color: #111;
}
.reg {
  text-decoration: line-through;
}
.sale {
  color: red;
}
.item-cmds .item-price {
  margin-top: 5px;
  font-weight: bold;
  font-size: 16px;
}
.item-cmds .item-prices {
  float: left;
  width: 100px;
}
.item-cmds button {
  width: 100px;
  float: right;
}

.cart-row {
  width: 100%;
  clear: left;
  border-bottom: 1px solid #ccc;
  padding: 20px 20px;
  height: 120px;
}
#cart-header {
  height: 60px;
  font-weight: bold;
}
.cart-row .product {
  width: 40%;
  float: left;
}
.cart-row .cart-image {
  width: 10%;
  float: left;
}

.cart-row .prod-image {
  width: 100%;
  height: 100px;
  background-size: contain !important;
  background-position: center center !important;
}
.cart-row .name {
  width: 30%;
  float: left;
}
.cart-row .qty {
  width: 5%;
  float: left;
}
.cart-row .price {
  width: 10%;
  float: left;
}
.cart-row .cmd {
  width: 5%;
  float: left;
}
/* Misc */
section {
  clear: left;
}
.content {
  width: 65%;
  float: left;
}
.sidebar {
  width: 35%;
  float: right;
}
.left {
  float: left;
}
.right {
  float: right;
}

#div1 {
  background-color: blue;
  width: 400px;
  height: 200px;
  margin: 30px;
  padding: 20px;
  color: white;
}
#div2 {
  background-color: orange;
  width: 300px;
  height: 100px;
  padding: 20px;
}
#div3 {
  background-color: green;
  width: 200px;
  height: 40px;
  padding: 20px;
}

.section_wrapper {
  clear: left;
  min-height: 200px;
  padding: 0px 20px;
}

#cartListwrapper,
#productListwrapper,
#viewproductwrapper,
#pagewrapper {
  background: #fff url("../resources/images/layout/wrapper.png") repeat-x;
  min-height: 300px;
  color: #111;
  padding: 30px;
}
.clear-left {
  clear: left;
}
/*footer*/
footer {
  clear: left;
  height: 160px;
  background: #333;
  padding: 20px 0;
  color: #ccc;
}
.footer_wrapper {
  padding: 0 15px;
}

.pageNotFound {
  width: 100%;

  background: #fff;
  padding: 50px;
  margin-top: 140px;
  height: 300px;
}
/*  desktop*/
@media (min-width: 980px) and (max-width: 1024px) {
  .container {
    padding: 0 0px;
    margin: 0 auto;
  }
  .banner {
    height: 300px;
  }
}
/*small desktop*/
@media (min-width: 768px) and (max-width: 980px) {
  .container {
    padding: 0px;
    margin: 0 auto;
  }
  .banner {
    height: 400px;
  }
  .top_navigation {
    float: right;
    width: 450px;
    height: 150px;
  }
  .page_content {
  }
  #srchForm {
    background: url("../resources/images/layout/srchform_med.png") no-repeat
      right;

    width: 300px;
    height: 40px;
    padding: 0px 5px;
    float: right;
  }
  #srchForm #srchText {
    color: red;
    background: url("../resources/images/layout/srchText_med.png");
    width: 240px;
    height: 30px;
    text-indent: 10px;
    border: none;
  }
  #srchForm #srchText {
    color: red;
    background: url("../resources/images/layout/srchText_med.png");
    width: 130px;
    height: 30px;
    text-indent: 10px;
    border: none;
  }
  .srchFont {
    font-size: 15px;
  }
  nav ul li a {
    font-size: 11px;
  }
}
/*tablet*/
@media (min-width: 641px) and (max-width: 768px) {
  .container {
    padding: 0px;

    padding: 0;
    margin: 0;
  }
  header {
  }
  .page_content {
  }
  #srchForm {
    margin-top: 50px;
    padding: 0;
  }
  .margin-top {
    margin-top: 150px;
  }
  .banner {
    height: 300px;
  }
}
@media (min-width: 321px) and (max-width: 640px) {
  #srchForm {
    background: url("../resources/images/layout/nav_hov.png") repeat-x;
    margin-top: 60px;
    width: 400px;
    padding-top: 5px;
  }
  #srchForm #srchText {
    width: 40%;
    margin-top: 0;
  }
  .margin-top {
    margin-top: 150px;
  }
}
/*
  .top_navigation {
    float: right;
    width: 70%;
    height: 150px;
  }
  .logo {
    display: block;
    background: url("../resources/images/layout/logo_med.png") no-repeat;
    width: 220px;
    height: 150px;
    margin-left: 5px;
  }
  .logoDiv {
    float: left;
    width: 30%;
    height: 150px;
  }
  #currencyForm {
    display: none;
  }
  #srchForm {
    background: url("../resources/images/layout/srchform_med.png") no-repeat
      left top;
    width: 300px;
    height: 40px;
    padding: 10px 5px;
    float: right;
  }
  #srchForm #srchText {
    color: red;
    background: url("../resources/images/layout/srchText_med.png");
    width: 140px;
    height: 30px;
    text-indent: 10px;
    border: none;
  }
  .srchFont {
    font-size: 18px;
  }
  nav ul li a {
    font-size: 11px;
  }
  .menu_mobile {
    display: none;
  }
  .mobilenav_head {
    display: none;
  }
  .banner {
    height: 200px;
  }
} */
/*large phone / small tablet*/
@media (max-width: 768px) {
  body {
    background: #111;
  }
  .container {
    padding: 0;
    margin: 0 auto;
  }
  .page_content {
  }
  .margin-top {
    margin-top: 150px;
  }
  header {
    height: 150px;
    padding-top: 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    background: #222;
    width: 100%;
  }

  .logoDiv {
    width: 150px;
  }
  .logo {
    background: url("../resources/images/layout/logo_sml.png") no-repeat;
    width: 150px;
    height: 80px;
    margin-left: 0px;
  }
  .btn_menu_mobile {
    position: absolute;
    top: 40px;
    right: 25px;
    z-index: 99;
    background: transparent url("../resources/images/layout/menu_mobile.png")
      no-repeat;
    width: 50px;
    height: 40px;
    text-decoration: none;
    border: none;
  }
  nav {
    display: block;
  }
  .srchFont {
    display: none;
  }
  #srchForm {
    padding-left: 0;
  }
  #srchText {
    margin-left: 0;
    width: 80%;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .mobilenav {
    display: block;
  }
  .mobilenav,
  .mobilecatgry {
    clear: left;
    background: #000;
    width: 100%;
    margin-top: 180px;
  }

  .mobilenav ul li,
  .mobilecatgry ul li {
    border-bottom: 1px solid #333;
    float: none;
    margin-top: 0px;
    width: 100%;
  }
  ul.topnav2 li a {
    color: #fff;
  }

  .mobilenav ul li a,
  .mobilecatgry ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
    font-size: 14px;
    padding: 10px 20px;
  }
  ul li button {
    padding: 10px 20px;
    background: transparent;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
  }
  .mobilenav ul li a:hover,
  .mobilecatgry ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: url("../resources/images/layout/nav_hov.png") repeat-x;
  }
  nav {
    display: none;
  }
  #navSel {
    text-decoration: none;
    background: url("../resources/images/layout/nav_hov.png") repeat-x;
  }

  .mobilenav_head a,
  .shopLink button {
    color: red;
  }
  .shopLnk button:hover {
    color: #fff;
  }

  nav {
    clear: left;
    background: #000;
    width: 100%;
  }
  nav ul li {
    border-bottom: 1px solid #333;
    float: none;
    margin-top: 0px;
    width: 100%;
  }
  nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
    font-size: 16px;
    padding: 10px 20px;
  }
  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: url("../resources/images/layout/nav_hov.png") repeat-x;
  }
  .visible {
    display: none;
  }
  #headnav1 {
    display: none;
  }
  .top_navigation {
    width: 120px;
  }
  .top_navigation div {
    width: 120px;
  }
  #headnav2 {
    display: none;
  }

  #currencyForm {
    display: none;
  }
  .shopcart {
    background: url("../resources/images/layout/cartMobile.png") no-repeat top
      left;
    width: 100px;
    padding: 0;
    margin: 0;
  }
  .cartlink {
    display: none;
    text-align: left;
  }
  .mobileCart {
    display: block;
  }
  .btnShowCart {
    display: block;
  }
  #cart-font {
    color: #ccc;
    margin-right: 15px;
    margin-top: 5px;
  }

  .banner {
    height: 150px;
  }
  .content,
  .sidebar {
    width: 100%;
    float: none;
    padding: 0;
  }
  .page_content {
    padding: 0;
  }
  .pricing_wrapper .left,
  .pricing_wrapper .right {
    width: 100%;
    float: none;
    clear: left;
    height: 100px;
  }
  .proj-item-feat,
  .proj-item {
    width: 100%;
    float: none;
    text-align: center;
  }
  .page_content h2 {
    font-size: 18px;
    text-align: center;
  }
  #featured_products {
    padding: 25px;
  }
}
.proj-item-list .prod-image {
  float: left;
  width: 20%;
  height: 200px;
  background-size: contain !important;
  background-position: center center !important;
  margin-bottom: 15px;
}
.filter-box {
  padding: 10px;
}
.proj-item-list {
  width: 100%;
  height: 240px;
}
.filter-box select,
.filter-box input {
  clear: left;
  margin-top: 5px;
  width: 90%;
  padding: 5px;
}

/*small phone*/

@media (max-width: 320px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .margin-top {
    margin-top: 150px;
  }

  #srchForm {
    padding-left: 0px;
    background: url("../resources/images/layout/nav_hov.png") repeat-x;
    height: 60px;
    margin-top: 60px;
    padding: 0;
    font-size: 15px;
    float: none;
  }
  #srchForm #srchText {
    width: 40%;
    height: 36px;
    margin-top: 0px;
  }
  /* .btn_menu_mobile {
    position: relative;
    top: -120px;
    left: 80%;
  } */
  .banner {
    height: 100px;
  }
  .page_content {
    padding: 0;
    margin: 0;
  }
}
/*
  .banner {
    display: none;
  }
  .logo {
    background: url("../resources/images/layout/logo_xsml.png") no-repeat;
    width: 120px;
    height: 60px;
    margin-left: 0px;
  }
  #currencyForm {
    display: none;
  }
  .top_navigation {
    width: 100px;
  }
  .top_navigation div {
    width: 100px;
  }
  .logoDiv {
    width: 120px;
  }
  .shopcart {
    background: url("../resources/images/layout/cartMobile.png") no-repeat top
      left;
  }
  nav {
    display: block;
  }
  ul.topnav2 {
    margin-left: 0;
  }
  ul.topnav2 {
    display: none;
  }

  .visible {
    display: none;
  }
  .menu_mobile {
    display: block;
  }
} */
