body {
  background: #000 url("../resources/images/layout/background.png") no-repeat
    top center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: arial;
  color: white;
}

.container {
  margin: 0px auto;
  width: 985px;
  padding: 0;
}
/* Header & Navigation*/

header {
  padding-top: 20px;
  height: 165px;
}
.logoDiv {
  float: left;
  width: 255px;
  height: 160px;
}
.logo {
  display: block;
  background: url("../resources/images/layout/logo.png") no-repeat;
  width: 250px;
  height: 140px;
  margin-left: -35px;
}
.top_navigation {
  float: right;
  width: 430px;
  height: 150px;
}
.top_navigation div {
  clear: left;
  text-align: right;
  height: 33px;
  width: 100%;
}
#headnav1 {
}
ul.topnav1 {
  text-align: right;
  margin-left: 180px;
  width: 150px;
}
ul.topnav1 li {
  border-right: 1px solid #111;
  float: left;
}
ul.topnav1 li a {
  text-decoration: none;
  color: gray;
  font-size: 11px;
  margin: 2px 6px;
}
ul.topnav1 li a:hover {
  color: red;
}
ul.topnav2 {
  width: 100%;
}
ul.topnav2 li {
  border-right: 1px solid #111;
  float: left;
  margin: 10px 0;
}
ul.topnav2 li a {
  text-decoration: none;
  color: gray;
  font-size: 11px;
  margin: 0px 8px;
}
ul.topnav2 li a:hover {
  color: white;
}
.topnavSel {
  color: white;
}
.fontRed {
  color: red;
}
#currencyForm {
  font-size: 11px;
  color: #ccc;
}
.cboCurrencies {
  background: #222;
  width: 90px;
  font-size: 11px;
  color: #ccc;
  border: none;
  height: 20px;
}
.btnCur {
  color: white;
  padding: 5px 0;
  font-size: 9px;
  margin-top: -5px;
  background: url("../resources/images/layout/curBtn.png") no-repeat;
  border: none;
  float: right;
  width: 22px;
}
.shopcart {
  background: url("../resources/images/layout/cart.png") no-repeat right top;
  padding-top: 0px;
  height: 15px;
  width: 220px;
  color: gray;
  float: right;
}
.shopcart a {
  color: red;
  text-decoration: none;
}
.shopcart a:hover {
  color: white;
  text-decoration: none;
}
.btnShowCart {
  background: url("../resources/images/layout/cartbtn.png") no-repeat;
  color: #fff;
  padding: 5px 3px;
  border: none;
  display: block;
}
#srchForm {
  background: url("../resources/images/layout/srchform.png") no-repeat left top;
  width: 395px;
  height: 55px;
  padding: 10px 5px;
  float: right;
}
.srchFont {
  color: white;
  font-family: "Gill Sans Ultra Bold Condensed";
  font-size: 24px;
}
#srchForm #srchText {
  color: red;
  background: url("../resources/images/layout/srchText.png");
  width: 230px;
  height: 30px;
  text-indent: 10px;
  border: none;
}
#srchForm #srchBtn {
  background: url("../resources/images/layout/srchbtn.png");
  width: 25px;
  border: none;
  margin-right: 15px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav {
  clear: left;
  background: url("../resources/images/layout/nav.png") no-repeat;
  display: block;
  height: 50px;
  overflow: hidden;
}
nav ul li {
  border-right: 1px solid #000;
  float: left;
  margin-top: 15px;
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #ccc;
  font-size: 14px;
  padding: 20px;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  background: url("../resources/images/layout/nav_hov.png") repeat-x;
}
.navSel {
  color: white;
  text-decoration: none;
  background: url("../resources/images/layout/nav_hov.png") repeat-x;
}
/* .menu_mobile {
  display: none;
}
.mobilenav_head {
  display: none;
} */
.mobilenav {
  display: none;
}
/* Content */
.page_content {
  clear: left;
  min-height: 300px;
  background: #fff url("../resources/images/layout/page-bkd.png") repeat-x;
}
.page_header {
  padding: 15px;
}
/*Home page*/

.banner {
  background: url("../resources/images/banner/img2.png") no-repeat;
  background-size: cover !important;
  height: 400px;
  clear: left;
}
.highlight_wrapper {
  padding-top: 15px;
}
.pricing_wrapper {
  height: 150px;
  padding-top: 20px;
}
.pricing_wrapper .left {
  width: 70%;
  height: 100px;
  background: gray;
}
.pricing_wrapper .right {
  width: 30%;
  height: 100px;
}
#front_ads {
  height: 100px;
}

#frontProducts {
  height: 330px;
}
.page_content h1,
.page_content h2,
.page_content h3,
.page_content h4,
.page_content p {
  color: #111;
}
.ad1 {
  background: url("../resources/images/layout/frontAd1.png") no-repeat;
  background-size: cover !important;
  height: 100px;
  width: 100%;
}
.ad2 {
  background: url("../resources/images/layout/frontAd2.png") no-repeat;
  background-size: cover !important;
  height: 100px;
  width: 100%;
}
.product-wrapper {
  padding-top: 30px;
}
.proj-item-feat {
  width: 20%;
  height: 400px;
  float: left;
  background: transparent;
  margin: 0 20px;
}
.proj-item-feat .prod-image,
.proj-item .prod-image {
  width: 100%;
  height: 200px;
  background-size: contain !important;
  background-position: center center !important;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

/*Products*/
.proj-item {
  width: 33%;
  height: 400px;
  float: left;
  background: transparent;

  padding: 15px;
}

.proj-item h6 {
  color: #111;
  font-weight: bold;
}
.prod-info-sm {
  height: 100px;
}
.proj-item .left {
  width: 30%;
  height: 200px;
}
.proj-item .left div {
  width: 100%;
  height: 100px;
  background-size: contain !important;
  background-position: center center !important;
}
.proj-item .right {
  width: 70%;
  height: 200px;
  padding-left: 10px;
}
/* Misc */
section {
  clear: left;
}
.content {
  width: 65%;
  float: left;
}
.sidebar {
  width: 35%;
  float: right;
}
.left {
  float: left;
}
.right {
  float: right;
}

#div1 {
  background-color: blue;
  width: 400px;
  height: 200px;
  margin: 30px;
  padding: 20px;
  color: white;
}
#div2 {
  background-color: orange;
  width: 300px;
  height: 100px;
  padding: 20px;
}
#div3 {
  background-color: green;
  width: 200px;
  height: 40px;
  padding: 20px;
}

.section_wrapper {
  clear: left;
  min-height: 200px;
  padding: 0px 20px;
}

#cartListwrapper,
#productListwrapper,
#viewproductwrapper,
#pagewrapper {
  background: #fff url("../resources/images/layout/wrapper.png") repeat-x;
  min-height: 300px;
  color: #111;
  padding: 30px;
}
.clear-left {
  clear: left;
}
/*footer*/
footer {
  clear: left;
  height: 160px;
  background: #333;
  padding: 20px 0;
}
/*  desktop*/
@media screen and (min-width: 980px) and (max-width: 1024px) {
  .container {
    padding: 0 0px;
    margin: 0 auto;
    width: 920px;
  }
  .banner {
    height: 300px;
  }
}
/*small desktop*/
@media screen and (min-width: 768px) and (max-width: 980px) {
  .container {
    width: 900px;
    padding: 0px;
    margin: 0 auto;
  }

  .top_navigation {
    float: right;
    width: 450px;
    height: 150px;
  }
  #srchForm {
    background: url("../resources/images/layout/srchform_med.png") no-repeat
      left top;
    width: 250px;
    height: 40px;
    padding: 10px 5px;
    float: right;
  }
  #srchForm #srchText {
    color: red;
    background: url("../resources/images/layout/srchText_med.png");
    width: 200px;
    height: 30px;
    text-indent: 10px;
    border: none;
  }
  #srchForm #srchText {
    color: red;
    background: url("../resources/images/layout/srchText_med.png");
    width: 130px;
    height: 30px;
    text-indent: 10px;
    border: none;
  }
  .srchFont {
    font-size: 15px;
  }
  nav ul li a {
    font-size: 11px;
  }
}
/*tablet*/
/* @media screen and (min-width: 640px) and (max-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0px;
  }

  .top_navigation {
    float: right;
    width: 70%;
    height: 150px;
  }
  .logo {
    display: block;
    background: url("../resources/images/layout/logo_med.png") no-repeat;
    width: 220px;
    height: 150px;
    margin-left: 5px;
  }
  .logoDiv {
    float: left;
    width: 30%;
    height: 150px;
  }
  #currencyForm {
    display: none;
  }
  #srchForm {
    background: url("../resources/images/layout/srchform_med.png") no-repeat
      left top;
    width: 300px;
    height: 40px;
    padding: 10px 5px;
    float: right;
  }
  #srchForm #srchText {
    color: red;
    background: url("../resources/images/layout/srchText_med.png");
    width: 140px;
    height: 30px;
    text-indent: 10px;
    border: none;
  }
  .srchFont {
    font-size: 18px;
  }
  nav ul li a {
    font-size: 11px;
  }
  .menu_mobile {
    display: none;
  }
  .mobilenav_head {
    display: none;
  }
  .banner {
    height: 200px;
  }
} */
/*large phone / small tablet*/
@media screen and (max-width: 768px) {
  body {
    background: #111;
  }
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  header {
    height: 180px;
    padding-top: 5px;
  }

  .logoDiv {
    width: 150px;
  }
  .logo {
    background: url("../resources/images/layout/logo_sml.png") no-repeat;
    width: 150px;
    height: 80px;
    margin-left: 0px;
  }
  nav {
    display: block;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .mobilenav {
    display: block;
  }
  ul.topnav2 li a {
    color: #fff;
  }
  .mobilenav {
    clear: left;
    background: #000;
    width: 100%;
  }
  .mobilenav ul li,
  .mobilecatgry ul li {
    border-bottom: 1px solid #333;
    float: none;
    margin-top: 0px;
    width: 100%;
  }
  .mobilenav ul li a,
  .mobilecatgry ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
    font-size: 14px;
    padding: 10px 20px;
  }
  ul li button {
    background: transparent;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 0px;
  }
  .mobilenav ul li a:hover,
  .mobilecatgry ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: url("../resources/images/layout/nav_hov.png") repeat-x;
  }
  nav {
    display: none;
  }
  #navSel {
    text-decoration: none;
    background: url("../resources/images/layout/nav_hov.png") repeat-x;
  }

  .mobilenav_head a,
  .shopLink button {
    color: red;
  }
  .shopLnk button:hover {
    color: #fff;
  }
  .btn_menu_mobile {
    position: relative;
    top: 40px;
    left: 50%;
    z-index: 99;
    background: url("../resources/images/layout/menu_mobile.png") no-repeat;
    width: 50px;
    height: 60px;
    text-decoration: none;
    border: none;
  }
  nav {
    clear: left;
    background: #000;
    width: 100%;
  }
  nav ul li {
    border-bottom: 1px solid #333;
    float: none;
    margin-top: 0px;
    width: 100%;
  }
  nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
    font-size: 16px;
    padding: 10px 20px;
  }
  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: url("../resources/images/layout/nav_hov.png") repeat-x;
  }
  .visible {
    display: none;
  }
  #headnav1 {
    display: none;
  }
  .top_navigation {
    width: 120px;
  }
  .top_navigation div {
    width: 120px;
  }
  #headnav2 {
    display: none;
  }

  #currencyForm {
    display: none;
  }
  .shopcart {
    background: url("../resources/images/layout/cartMobile.png") no-repeat top
      left;
    width: 300px;
  }

  #srchForm {
    display: block;
    background: url("../resources/images/layout/srchform_med.png") no-repeat
      right top;
    margin-top: 60px;
  }
  #srchForm #srchText {
    width: 150px;
    height: 20px;
  }
  .srchFont {
    font-size: 14px;
  }
  .banner {
    height: 200px;
  }
  .content,
  .sidebar {
    width: 100%;
    float: none;
    padding: 0;
  }
  .page_content {
    padding: 0;
  }
  .pricing_wrapper .left,
  .pricing_wrapper .right {
    width: 100%;
    float: none;
    clear: left;
    height: 100px;
  }
  .proj-item-feat,
  .proj-item {
    width: 100%;
    float: none;
    text-align: center;
  }
  .page_content h2 {
    font-size: 18px;
    text-align: center;
  }
  #featured_products {
    padding: 25px;
  }
}
/*small phone*/

/* @media screen and (max-width: 320px) {
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #111;
  }

  .banner {
    display: none;
  }
  .logo {
    background: url("../resources/images/layout/logo_xsml.png") no-repeat;
    width: 120px;
    height: 60px;
    margin-left: 0px;
  }
  #currencyForm {
    display: none;
  }
  .top_navigation {
    width: 100px;
  }
  .top_navigation div {
    width: 100px;
  }
  .logoDiv {
    width: 120px;
  }
  .shopcart {
    background: url("../resources/images/layout/cartMobile.png") no-repeat top
      left;
  }
  nav {
    display: block;
  }
  ul.topnav2 {
    margin-left: 0;
  }
  ul.topnav2 {
    display: none;
  }

  .visible {
    display: none;
  }
  .menu_mobile {
    display: block;
  }
} */
